<nav>
  <div class="brand" routerLink="/">
    Welcome!
  </div>
  <ul>
    <ng-template [ngIf]="auth.loggedIn()" [ngIfElse]="loggedOut">
      <li (click)="logout()">
        Logout
      </li>
    </ng-template>
    <ng-template #loggedOut>
      <li>
        <a routerLink="/login">
          Login
        </a>
      </li>
      <li>
        <a routerLink="/signup">
          Signup
        </a>
      </li>
    </ng-template>
  </ul>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>